    <script>
    function modifyElement() {
        var rewardBtns = top.document.querySelectorAll(' .rewarded');
        if (rewardBtns.length > 0) {
            rewardBtns.forEach(function(rewardBtn) {
                rewardBtn.setAttribute('data-google-interstitial', 'false');
                var hrefValue = rewardBtn.getAttribute('href');
                rewardBtn.removeAttribute('href');
                rewardBtn.setAttribute('onclick', 'showAd("' + hrefValue + '")');
            });
        } else {
            setTimeout(modifyElement, 100);
        }
    }
    modifyElement();
</script>

</body>

</html>
