  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Victor+Mono&display=swap"
    rel="stylesheet">

  <style>
    .kanit {
      font-family: "Kanit", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .editor-js-image {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      font-size: 12px;
    }

    .editor-js-image img {
      margin-bottom: 0;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>

  <script defer data-domain="huangdarren1106.github.io" src="https://stats.senty.com.au/js/script.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3723218062742398"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/addon-interscroller@1.0.5/dist/interscroller.js"></script>
<script src="https://stpd.cloud/assets/libraries/inview.min.js"></script>
<script>
  inView.offset(-200);
</script>
<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script>
  window.googletag = window.googletag || {};
  googletag.cmd = googletag.cmd || [];

  function giveReward(url) {
    googletag.pubads().removeEventListener('rewardedSlotClosed', dismissReward);
    window.location.href = url;
  }

  function dismissReward(evt) {
    googletag.destroySlots([evt.rewardedSlot]);
  }

  function showAd(url) {
    googletag.cmd.push(function() {
      var rewardedSlot = googletag.defineOutOfPageSlot(
        '/147246189,22921845643/huangdarren1106.github.io_rewarded', googletag.enums.OutOfPageFormat
        .REWARDED); // CHANGEABLE. Rewarded ad unit
      if (rewardedSlot) {
        rewardedSlot.addService(googletag.pubads());
      }
      googletag.pubads().addEventListener('rewardedSlotReady', function(evt) {
        evt.makeRewardedVisible();
      });
      googletag.pubads().addEventListener('rewardedSlotClosed', dismissReward);
      googletag.pubads().addEventListener('rewardedSlotGranted', function() {
        giveReward(url);
      });

      googletag.display(rewardedSlot);
      googletag.pubads().refresh([rewardedSlot]);
    });
  }
  // var anchorSlot;
  googletag.cmd.push(function() {

    // anchorSlot = googletag.defineOutOfPageSlot(
    //   "/22921845643/huangdarren1106_global_bottom_anchor",
    //   googletag.enums.OutOfPageFormat.BOTTOM_ANCHOR,
    // );

    // anchorSlot.addService(googletag.pubads());

    if (window.innerWidth >= 1480) {
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_1000x100_desktop_anchor', [
        [1000, 100],
        [970, 90],
        [728, 90],
        [990, 90],
        [970, 50],
        [960, 90],
        [950, 90],
        [980, 90]
      ], 'huangdarren1106_github_io_anchor_ad_responsive').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_300x600_desktop_side_left', [
        [300, 600],
        [160, 600],
        [300, 250],
        [300, 300]
      ], 'huangdarren1106_github_io_sidebar_left_desktop').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_300x600_desktop_side_right',
        [
          [300, 600],
          [160, 600],
          [300, 250],
          [300, 300]
        ], 'huangdarren1106_github_io_sidebar_right_desktop').addService(googletag.pubads());
      googletag.defineSlot(
        '/147246189,22921845643/huangdarren1106.github.io_800x280_desktop_billboard_top', [
          [800, 280],
          [800, 250],
          [800, 200],
          [750, 280],
          [750, 250],
          [750, 200],
          [750, 150],
          [750, 100],
          [728, 90]
        ], 'huangdarren1106_github_io_billboard_top_responsive').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_320x100_mobile_anchor_top', [
        [320, 100],
        [320, 50],
        [300, 100],
        [300, 50]
      ], 'huangdarren1106_github_io_anchor_ad_top_mobile').addService(googletag.pubads());
    } else if (window.innerWidth >= 1180) {
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_1000x100_desktop_anchor', [
        [1000, 100],
        [970, 90],
        [728, 90],
        [990, 90],
        [970, 50],
        [960, 90],
        [950, 90],
        [980, 90]
      ], 'huangdarren1106_github_io_anchor_ad_responsive').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_160x600_desktop_side_left', [
        [160, 600],
        [120, 600]
      ], 'huangdarren1106_github_io_sidebar_left_desktop').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_160x600_desktop_side_right',
        [
          [160, 600],
          [120, 600]
        ], 'huangdarren1106_github_io_sidebar_right_desktop').addService(googletag.pubads());
      googletag.defineSlot(
        '/147246189,22921845643/huangdarren1106.github.io_800x280_desktop_billboard_top', [
          [800, 280],
          [800, 250],
          [800, 200],
          [750, 280],
          [750, 250],
          [750, 200],
          [750, 150],
          [750, 100],
          [728, 90]
        ], 'huangdarren1106_github_io_billboard_top_responsive').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_320x100_mobile_anchor_top', [
        [320, 100],
        [320, 50],
        [300, 100],
        [300, 50]
      ], 'huangdarren1106_github_io_anchor_ad_top_mobile').addService(googletag.pubads());
    } else if (window.innerWidth >= 1024) {
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_1000x100_desktop_anchor', [
        [1000, 100],
        [970, 90],
        [728, 90],
        [990, 90],
        [970, 50],
        [960, 90],
        [950, 90],
        [980, 90]
      ], 'huangdarren1106_github_io_anchor_ad_responsive').addService(googletag.pubads());
      googletag.defineSlot(
        '/147246189,22921845643/huangdarren1106.github.io_800x280_desktop_billboard_top', [
          [800, 280],
          [800, 250],
          [800, 200],
          [750, 280],
          [750, 250],
          [750, 200],
          [750, 150],
          [750, 100],
          [728, 90]
        ], 'huangdarren1106_github_io_billboard_top_responsive').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_320x100_mobile_anchor_top', [
        [320, 100],
        [320, 50],
        [300, 100],
        [300, 50]
      ], 'huangdarren1106_github_io_anchor_ad_top_mobile').addService(googletag.pubads());
    } else {
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_320x100_mobile_anchor', [
        [320, 100],
        [320, 50],
        [300, 100],
        [300, 50]
      ], 'huangdarren1106_github_io_anchor_ad_responsive').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_336x336_mobile_top', [
        [300, 250],
        [336, 336],
        [336, 320],
        [320, 320],
        [300, 300],
        [336, 280],
        [320, 250],
        [320, 336]
      ], 'huangdarren1106_github_io_billboard_top_responsive').addService(googletag.pubads());
      googletag.defineSlot(
        '/147246189,22921845643/huangdarren1106.github.io_300x600_mobile_interscroller', [
          [300, 600],
          [160, 600],
          [300, 250],
          [300, 300]
        ], 'huangdarren1106_github_io_interscroller_mobile').addService(googletag.pubads());
      googletag.defineSlot('/147246189,22921845643/huangdarren1106.github.io_320x100_mobile_anchor_top', [
        [320, 50],
        [300, 50]
      ], 'huangdarren1106_github_io_anchor_ad_top_mobile').addService(googletag.pubads());
    }
    var interstitialSlot = googletag.defineOutOfPageSlot(
      '/147246189,22921845643/huangdarren1106.github.io_interstitial', googletag.enums.OutOfPageFormat
      .INTERSTITIAL);
    if (interstitialSlot) interstitialSlot.addService(googletag.pubads());

    googletag.pubads().enableSingleRequest();
    googletag.pubads().disableInitialLoad();
    googletag.pubads().collapseEmptyDivs();
    googletag.pubads().setTargeting('category', 'music')
      .setTargeting('audience_interest', [
        'music', 'spotify', 'spotify premium', 'apple music', 'music streaming', 'music charts',
        'music analysis', 'music data', 'music statistics', 'music trends', 'music insights',
        'music discovery', 'music recommendations', 'music genres', 'music artists', 'music albums',
        'music songs', 'music playlists'
      ]);
    googletag.enableServices();
    googletag.display(interstitialSlot);
  });
</script>
<script async src="https://stpd.cloud/saas/6406"></script>
<style>
  .side_ad_left {
    top: 75px;
    left: 10px;
    position: fixed;
  }

  .side_ad_right {
    top: 75px;
    right: 10px;
    position: fixed;

    .ads {
      text-align: center;
    }
</style>

  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">

  <meta name="google-site-verification" content="0I5jWqQYG7ahDKO-xLIJWViQ8SPeE0SgnfbaXjFInkU" />

  