<!doctype html>
<html lang="en">

<head>
  <meta name="yandex-verification" content="9ef8f53bc75f51e1" />
  <meta name="ahrefs-site-verification" content="f9805fd529e993ad2b1929b09f27c0b69fbda9fad04acead603f2847527f3b52">
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    .side_ad_left {
      top: 90px;
      left: 10px;
      position: fixed;
    }

    .side_ad_right {
      top: 90px;
      right: 10px;
      position: fixed;
    }

    .ads {
      text-align: center;
    }
  </style>
