.white {
  background-color: white;
}
.GraphScreen {
    text-align: center;
    align-items:center;
    flex:1;
    height: 50%;
    width: 50%;
    background-color: white;
    
  }
 
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    background-color: #333;
    color: #eee;
    font-family: Helvetica, Arial;
    font-size: 3vmin;
  }
  
  .hidden {
    display: none;
  }
  
  /** Buttons **/
  
  .Top-tracks-button {
    background-color: transparent;
    border-radius: 2em;
    border: 0.2em solid #1ecd97;
    color: #1ecd97;
    cursor: pointer;
    font-size: 3vmin;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
  }
  
  /** Background **/
  
  .background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(8em) opacity(0.6);
    position: absolute;
  }
  
  .main-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    width: 80%;
    z-index: 1;
  }
  
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .main-container {
    flex: 1;
  }

  .pi {
      flex: 1;
      align-items:center;
      display:flex;
      justify-content:center;
      padding:5em;
      height:100%;
      width:100%;
      background-color: #000000;

  }

 